/* DIV formatting*/

#container {
    background: navy;
    height: auto;
    width: auto;
    margin: auto;
}

#header {
    background: navy;
    color: white;
    border: 5px solid red;
    padding: 5px;
}

#wrapper { width: 850px;
}

#main {
    background: white;
    padding: 10px;
    width: 650px;
    height: 400px;
    float: right;
    border-right: 5px solid red;
    border-left: 5px solid red;
}

#left_sidebar {
    background: navy;
    height: 420px;
    width: 150px; 
    float: left;
   border-left:5px solid red; 
}

#footer {
    background: red;
    color: white;
    clear:both;
    padding: 10px 10px;
    
}

#menu {
    background: red;
    color: white;
    padding: 5px 10px;
    border: 1px solid red;
}

